.devices__table {
  display: flex;
  flex-direction: column;
  margin: 12px 22px 0 20px;
  padding: 0;
  white-space: nowrap;
}

.devices__table:last-child {
  margin-right: 20px;
  text-align: end;
}
